ion-item{
  --border-width: 0px !important;
  margin-bottom: 10px;
  border-radius: 5px;
  --ion-item-background: var( --ion-color-dark-tint);
  --color: white;
  --color-activated: white;
  --min-height: 40px;
  > ion-label > p{
    color: white;
  }
  > ion-icon{
    color: white;
  }

}
ion-list{
  background-color: var(--ion-color-secondary-contrast);
  padding: 10px;
}
ion-searchbar{
  --clear-button-color: black;
  --border-radius: 5px;
  --background: white;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

